<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.androidfeature">

    <application>
        <activity
            android:name="com.ddx.kt.ui.activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name="com.ddx.kt.ui.activity.InfoActivity"
            android:exported="false" />
    </application>

</manifest>