<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.androidfeature">

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:appComponentFactory="whateverString"
        android:icon="@drawable/basketball"
        android:label="Hello"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:appComponentFactory,android:label">
        <activity android:name=".activity.ServiceActivity"></activity>
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LifeCycleActivity2" />
        <activity android:name=".activity.BaseActivity" />
        <activity
            android:name=".activity.LifeCycleActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.RotationActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensor" />
        <activity android:name=".activity.OnRestoreActivity" />
        <activity android:name=".activity.SensorActivity" />
        <activity android:name=".activity.PicAnimationActivity" />
        <activity android:name=".activity.ClickTestActivity" />
        <activity
            android:name=".activity.BezierCurveActivity"
            android:label="BezierCurve" />
        <activity
            android:name=".activity.CurvePathActivity"
            android:label="CurvePath" />
        <activity
            android:name=".activity.MarqueeActivity"
            android:label="Marquee" />
        <activity
            android:name=".activity.ARouteActivity"
            android:exported="true"
            android:label="ARoute"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="test"
                    android:path="/path"
                    android:scheme="wednesday" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="standard" />

        <service android:name=".service.NoteService" />
    </application>

    <uses-permission android:name="android.permission.READ_CONTACTS" />

</manifest>